body{
    max-width: 1200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor{
    width: 400px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.input-botones{
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 80px 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    /* box-shadow: -10px -10px 10px 10px rgba(255, 255, 255, 0.2); */
 

    border-radius: 15px;
}

.resultados{
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    /* margin-bottom: 10px; */
    /* border: 1px solid rgb(219, 217, 217);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2); */

}

input{
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    outline: none;
    font-size: 1rem;
}

input:nth-child(2){
    text-align: end;
    font-size: 1.3rem;
}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 8px;
    padding: 0px 20px 20px 20px;
}

button{
    background-color: rgb(244, 244, 244);
    border: none;
    border-radius: 5px;
    padding: 8px 0px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

button:nth-child(1){
    grid-column: 1 / 5;
    height: 40px;
}


button:nth-child(15){
    grid-column: 2 / 4;
    
}

#operacion{
    color: red;
}

button:hover{
    background-color: rgb(227, 227, 227);
}

.ingresar{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 20px;
}


/* modo oscuro */

img{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
}